# Node modules
node_modules/

# Arquivos de mock e dados temporários
src/models/users.json

# Arquivos de relatóro Mochawesome
mochawesome-report/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
.env 
testesmapeados.txt